/* body */
body{
    margin: 0;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}
/* container */



/* top panel */
.inlineList li{
    display:inline;
    padding: 0;
    white-space: nowrap;
}
.row a{
    font-size: 0.9rem;

}
a{
    display: inline-block;
    text-decoration: none;
}
.rd-navbar-top-panel a{
    color: #fff;
}
a:hover{
    color: #f9b707;
}
i{
    color: #f9b707;
}
.rd-navbar-top-panel{
    background: #272727;
    padding: 5px 5px 0 0;
}
.top-panel-left{
    height: 0;
    color: white;
    float: left;
}
.top-panel-right{
    text-align: right !important;
}
.top-panel-right i{
    padding-right: 5px;
    color: #fff !important;
}
.fa-phone-alt{
    font-size: 1.2rem;
}   
.fa-map-marker-alt{
    font-size: 1.2rem;
}
/* navbar */
.active{
    color: #f9b707 !important;
}
/* .button{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
} */
.rd-navbar-wrap a{
    color: #fff;
}
.active{
    color: #f9b707;
}
.bg-dark{
    background-color: #272727 !important;
}
.justify-content-center{
    justify-content: center;
    margin-bottom: 0 !important;
}
/* banner */
.banner{
    padding-top: 200px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-image: url(../img/slider-slide-2-1920x1080.jpg);
    color: #fff;
}
.button-primary:hover{
    color: #fff;
    background-color: #272727;
}
.button-primary{
    padding: 20px 50px;
    color: #fff;
    background-color: #f9b707;
    border-color: #f9b707;
    border-radius: 3px;
}
.banner-title{
    font-size: 5rem;
}
.banner-content{
    padding-top: 5px;
    padding-bottom: 70px;
    font-size: 2rem;
}
/* Our Service */
.heading-decorated{
    padding: 50px 0;
}
.blurb-circle-icon{
    padding: 30px;
    border-radius: 50%;
    background-color: #f9b707;
}
.blurb-circle-icon i{
    color: white;
    font-size: 40px;
}
.blurb-circle{
    text-align: left;
}
.d-flex-left{
    border-radius: 50%;
}
.d-flex-body{
    margin-left: 15px;
}
.blurb-title{
    font-size: 1.2rem;
}
.blurb-title{
    color: #272727;
}
.blurb-title:hover{
    color: #f9b707;
}
.row-50{
    margin-bottom: 50px;
}
.blurb-content{
    padding: 20px 0;
    color: #888;
}
.heading-6{
    font-size: 18px;
    line-height: 1.8;
}
/* Our History */
.our-history{
    padding: 50px 0;
    background-color: #f8f8f8;
}
.button-primary-ourhistory{
    padding: 20px 30px;
    color: #fff;
    background-color: #f9b707;
    border-color: #f9b707;
    border-radius: 3px;
}
.button-primary-ourhistory:hover{
    color: #fff;
    background-color: #272727;
}
.img-home{
    padding: 20px 0;
}
/* Thumb creative */
.no-gutters > .col, .no-gutters > [class*="col-"]{
    padding-right: 0;
    padding-left: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
figure{
    margin-bottom: 0 !important;
}
/* POST */
.bg-default{
    padding-bottom: 60px;
}
.post-classic-title{
    margin-top: 25px;
    color: #272727;
}
.post-classic-title h6{
    font-size: 18px;
    line-height: 1.8;
}
.post-classic-title a{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight:initial;
    color: #000;
}
.post-classic-title a:hover{
    color: #f9b707;
}
.post-meta{
    font-size: 14px;
    font-style: italic;
}
.group a{
    color: #f9b707;
}
.group a:hover{
    color: #000;
}


.meta-author{
    color: #888 !important;
}
.post-meta a:hover{
    color: #f9b707;
}
.post-classic-body{
    color: #888;
}
/* pre-footer */
.bg-gray-dark{
    background-color: #333 !important;
}
.pre-footer-corporate{
    padding: 80px 0;
}
.bg-gray-dark p{
    margin-top: 28px;
    color: #888;
}
.bg-gray-dark h6{
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.8;
    color: #fff;
}
.pre-footer-corporate .list-primary a{
    margin-top: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 1.1rem;
    text-decoration: none;
    color: #f9b707;
}
.pre-footer-corporate .list-primary a:hover{
    color: #f8f8f8;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-xs{
    margin-top: 22px;
}
.comment-minimal-author{
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 0;
}
.comment-minimal-link{
    margin-top: 0px !important;
}
.comment-minimal-link a{
    color: #f8f8f8;
}
.comment-minimal-link:hover{
    color: #f9b707;
}
.comment-minimal-author{
    margin-top: 0 !important;
}
.list-terms-minimal *{
    color: #888;
    display: inline;
}
dd{
    margin-bottom: 0;
}
dt, dd{
    line-height: inherit;
}
.list-terms-minimal .email{
    color: #f9b707;
}
.list-terms-minimal .email:hover{
    color: #f8f8f8;
}
/* footer */
.footer-corporate{
    
    text-align: left;
    padding: 20px 0;
}
.bg-gray-darker{
    background-color: #272727;
}